.block {
    display: flex;
    font-family: "TT Travels", sans-serif;
}

.block-1 {
    /* height: 100px; */
    /* background: red; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly;
    align-items: center; */
}

.biboppng {
    width: 522px;
    height: 545px;
}

.icons {
    margin: 0px 100px 20px;
    position: relative;
    width: 522px;
    height: 545px;
    background: linear-gradient(to right top, #1EF1F1, #E3FF30);
    border-radius: 30px;
}

.my-class {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../assets/images/profile/Фон.png') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

.details {
    width: 496px;
    height: 214px;
    color: white;
    border: 3px solid #C6DB3F;
    border-radius: 20px;
    margin: 60px 115px;
}

.detail {
    font-size: 35px;
    display: flex;
    justify-content: space-evenly;
}

.string {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.padd {
    font-size: 23px;
    margin: 5px;
}

.block-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-description {
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    margin: 30px 120px;
}

.cyberpunk {
    color: #FFE72F;
    font-size: 35px;
}

.bibop {
    display: flex;
    justify-content: space-evenly;
    font-size: 50px;
}

.price {
    font-size: 35px;
}

.table {
    font-size: 35px;
    margin-top: 30px;
}

.table th, .table td {
    text-align: left;
}

.table th {
    border-bottom: 1px solid #C6DB3F;
}

.table td {
    padding-top: 25px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.button {
    width: 404px;
    height: 78px;
    background-color: #c6db40;
    font-size: 46px;
    margin-top: 120px;
    transition: all 100ms;
    cursor: pointer;
}

.button:hover {
    box-shadow: #c6db40 0px 0px 110px 23px;
}