.create-nft-page-first {
    font-family: 'TT Travels', sans-serif;
    font-weight: 500;
    color: #FFFFFF;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../assets/images/profile/Фон.png') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;

    text-align: center;
  }
  
  .App-header {
    /* background-color: #282c34; */
    /* min-height: 40%; */
    margin: 11% 3% 0 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 40%);
    color: white;
  }
  
  .box {
    /*  Stretching: */
    flex: 1 1 150px; 
    margin: 5px;
    gap: 5rem;
  }

  .input-field {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: none;
    margin-top: -43%;
  }
  
  .input-field input {
    width: 70%;
    height: calc(10px + 50%);
  }
  
  .input-field button {
    width: 20%;
    height: calc(10px + 50%);
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 3px;
    background: linear-gradient(to right top, #1EF1F1, #E3FF30);
    cursor: pointer;
    -webkit-text-stroke: 0.2px black;
  }
  
.input-field button:hover {
    box-shadow: 0 0 20px  yellow;
}

  .rectangle {
    margin: 0px 100px 20px;
    position: relative;
    width: 522px;
    height: 545px;
    /* background-color: #E3FF30; */
    /* background: linear-gradient(to right top, #1EF1F1, #E3FF30); */
    /* border-radius: 10px; */
  }
  
  .rectangle .content {
    /* position: absolute;
    top: -40px;
    left: 10%; */
    margin: 0 20% 0 0;
    width: 522px;
    height: 545px;
    background-color: rgba(255, 255, 255, 0.503);
    border-radius: 10px;
    box-shadow: 0 0 10px linear-gradient(to right, red, yellow);
    /* border-width: 2px;
    border-color: #E3FF30; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  